.search {
  transition: 0.3s;
  padding: 8px 10px;
  border-radius: 8px;
  background-color: rgb(40, 40, 40);
  font-size: medium;
  display: flex;
}

.search:hover {
  background-color: rgb(238, 187, 125);
  border-radius: 8px;
  font-size: medium;
  color: rgb(28, 28, 29);
}

.boxContainer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: rgb(24, 23, 23);
  padding: 5px 10px 5px 10px;
}
.drawerHeader {
  background-color: rgb(58, 58, 60);
  color: bisque;
}
